# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
.eggs/

# Testing
.tox/
.coverage
.coverage.*
.pytest_cache/
htmlcov/
.cache
coverage.xml
*.cover

# Logs
*.log
*.mo
*.pot

# IDEs
.idea/
.vscode/

# Documentation
docs/_build/

# Environment
.env
.venv
tmp/
env/
venv/

# OS
.DS_Store
Thumbs.db
